# Climate Change Data Analysis

The goal of this project is to explore land temperature data in different areas over time, to assess the severity of climate change.

In [1]:
import pickle
import os
import sys
import pandas as pd
import numpy as np
import copy

import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)

%reload_ext autoreload
%autoreload 2

In [3]:
# Load data

with open('data/GlobalLandTemperaturesByCity.csv', 'r') as f:
    city_data = pd.read_csv(f)

## Basic Data Exploration

First we'll investigate the various variables in the data and do some cleaning.

In [4]:
city_data.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [5]:
city_data.shape

(8599212, 7)

In [12]:
city_data.dtypes

dt                                object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
City                              object
Country                           object
Latitude                          object
Longitude                         object
dtype: object

The data is pretty self-explanatory - we have average temperatures with uncertainty for cities over time. We can convert the time column into datetime objects and parse the latitude and longitude (remove the direction and multiply by -1 for S and W)

In [23]:
city_data['time'] = pd.to_datetime(city_data['dt'], format='%Y-%m-%d')

In [33]:
'34.56S'.split('N')

['34.56S']

In [ ]:
def parse_lat_lon(val, t):
    if t == 'lat':
        if 'N' in val:

In [29]:
city_data.loc[np.array(['N' not in x for x in city_data['Latitude']]),:]

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,time
78638,1841-01-01,21.432,3.286,Adelaide,Australia,34.56S,138.16E,1841-01-01 00:00:00
78639,1841-02-01,22.087,2.458,Adelaide,Australia,34.56S,138.16E,1841-02-01 00:00:00
78640,1841-03-01,18.859,3.547,Adelaide,Australia,34.56S,138.16E,1841-03-01 00:00:00
78641,1841-04-01,15.033,1.884,Adelaide,Australia,34.56S,138.16E,1841-04-01 00:00:00
78642,1841-05-01,12.864,1.481,Adelaide,Australia,34.56S,138.16E,1841-05-01 00:00:00
78643,1841-06-01,10.896,1.479,Adelaide,Australia,34.56S,138.16E,1841-06-01 00:00:00
78644,1841-07-01,10.172,1.782,Adelaide,Australia,34.56S,138.16E,1841-07-01 00:00:00
78645,1841-08-01,10.842,1.485,Adelaide,Australia,34.56S,138.16E,1841-08-01 00:00:00
78646,1841-09-01,12.147,1.502,Adelaide,Australia,34.56S,138.16E,1841-09-01 00:00:00
78647,1841-10-01,14.930,1.607,Adelaide,Australia,34.56S,138.16E,1841-10-01 00:00:00
78648,1841-11-01,17.544,1.966,Adelaide,Australia,34.56S,138.16E,1841-11-01 00:00:00
78649,1841-12-01,19.701,1.898,Adelaide,Australia,34.56S,138.16E,1841-12-01 00:00:00
78650,1842-01-01,21.626,2.093,Adelaide,Australia,34.56S,138.16E,1842-01-01 00:00:00
78651,1842-02-01,22.118,2.191,Adelaide,Australia,34.56S,138.16E,1842-02-01 00:00:00
78652,1842-03-01,20.604,2.040,Adelaide,Australia,34.56S,138.16E,1842-03-01 00:00:00
78653,1842-04-01,16.090,2.554,Adelaide,Australia,34.56S,138.16E,1842-04-01 00:00:00
78654,1842-05-01,12.692,1.448,Adelaide,Australia,34.56S,138.16E,1842-05-01 00:00:00
78655,1842-06-01,10.329,1.446,Adelaide,Australia,34.56S,138.16E,1842-06-01 00:00:00
78656,1842-07-01,9.272,1.241,Adelaide,Australia,34.56S,138.16E,1842-07-01 00:00:00
78657,1842-08-01,10.417,1.468,Adelaide,Australia,34.56S,138.16E,1842-08-01 00:00:00
78658,1842-09-01,12.150,1.481,Adelaide,Australia,34.56S,138.16E,1842-09-01 00:00:00
78659,1842-10-01,13.987,1.973,Adelaide,Australia,34.56S,138.16E,1842-10-01 00:00:00
78660,1842-11-01,17.570,1.742,Adelaide,Australia,34.56S,138.16E,1842-11-01 00:00:00
78661,1842-12-01,20.523,2.269,Adelaide,Australia,34.56S,138.16E,1842-12-01 00:00:00
78662,1843-01-01,22.374,1.947,Adelaide,Australia,34.56S,138.16E,1843-01-01 00:00:00
78663,1843-02-01,22.796,1.917,Adelaide,Australia,34.56S,138.16E,1843-02-01 00:00:00
78664,1843-03-01,19.809,1.991,Adelaide,Australia,34.56S,138.16E,1843-03-01 00:00:00
78665,1843-04-01,15.802,1.998,Adelaide,Australia,34.56S,138.16E,1843-04-01 00:00:00
78666,1843-05-01,12.501,1.657,Adelaide,Australia,34.56S,138.16E,1843-05-01 00:00:00
78667,1843-06-01,10.841,1.550,Adelaide,Australia,34.56S,138.16E,1843-06-01 00:00:00
...,...,...,...,...,...,...,...,...
8488482,2011-04-01,26.562,0.314,Zanzibar,Tanzania,5.63S,38.74E,2011-04-01
8488483,2011-05-01,26.198,0.218,Zanzibar,Tanzania,5.63S,38.74E,2011-05-01
8488484,2011-06-01,25.567,0.296,Zanzibar,Tanzania,5.63S,38.74E,2011-06-01
8488485,2011-07-01,25.061,0.643,Zanzibar,Tanzania,5.63S,38.74E,2011-07-01
8488486,2011-08-01,25.091,0.237,Zanzibar,Tanzania,5.63S,38.74E,2011-08-01
8488487,2011-09-01,25.958,0.355,Zanzibar,Tanzania,5.63S,38.74E,2011-09-01
8488488,2011-10-01,26.124,0.139,Zanzibar,Tanzania,5.63S,38.74E,2011-10-01
8488489,2011-11-01,26.924,0.240,Zanzibar,Tanzania,5.63S,38.74E,2011-11-01
8488490,2011-12-01,27.404,0.558,Zanzibar,Tanzania,5.63S,38.74E,2011-12-01
8488491,2012-01-01,27.842,0.471,Zanzibar,Tanzania,5.63S,38.74E,2012-01-01
8488492,2012-02-01,28.043,0.188,Zanzibar,Tanzania,5.63S,38.74E,2012-02-01
8488493,2012-03-01,27.761,0.267,Zanzibar,Tanzania,5.63S,38.74E,2012-03-01
8488494,2012-04-01,26.722,0.377,Zanzibar,Tanzania,5.63S,38.74E,2012-04-01
8488495,2012-05-01,25.881,0.163,Zanzibar,Tanzania,5.63S,38.74E,2012-05-01
8488496,2012-06-01,25.288,0.277,Zanzibar,Tanzania,5.63S,38.74E,2012-06-01
8488497,2012-07-01,24.566,0.475,Zanzibar,Tanzania,5.63S,38.74E,2012-07-01
8488498,2012-08-01,25.020,0.308,Zanzibar,Tanzania,5.63S,38.74E,2012-08-01
8488499,2012-09-01,25.856,0.329,Zanzibar,Tanzania,5.63S,38.74E,2012-09-01
8488500,2012-10-01,26.340,0.429,Zanzibar,Tanzania,5.63S,38.74E,2012-10-01
8488501,2012-11-01,27.193,0.454,Zanzibar,Tanzania,5.63S,38.74E,2012-11-01
8488502,2012-12-01,27.639,0.634,Zanzibar,Tanzania,5.63S,38.74E,2012-12-01
8488503,2013-01-01,28.151,1.155,Zanzibar,Tanzania,5.63S,38.74E,2013-01-01
8488504,2013-02-01,28.335,0.697,Zanzibar,Tanzania,5.63S,38.74E,2013-02-01
8488505,2013-03-01,27.727,0.684,Zanzibar,Tanzania,5.63S,38.74E,2013-03-01
8488506,2013-04-01,26.914,1.904,Zanzibar,Tanzania,5.63S,38.74E,2013-04-01
8488507,2013-05-01,25.864,0.579,Zanzibar,Tanzania,5.63S,38.74E,2013-05-01
8488508,2013-06-01,24.993,0.428,Zanzibar,Tanzania,5.63S,38.74E,2013-06-01
8488509,2013-07-01,24.544,0.286,Zanzibar,Tanzania,5.63S,38.74E,2013-07-01
8488510,2013-08-01,24.800,0.792,Zanzibar,Tanzania,5.63S,38.74E,2013-08-01
8488511,2013-09-01,NaN,NaN,Zanzibar,Tanzania,5.63S,38.74E,2013-09-01

In [ ]:
Looking at the number of cities and countires, we get the following:

In [8]:
cities = np.unique(city_data['City'])

In [13]:
countries = np.unique(city_data['Country'])

In [11]:
cities[cities == 'Toronto']

array(['Toronto'], dtype=object)

In [15]:
print 'Number of unique cities: ' + str(len(cities))
print 'Number of unique countries: ' + str(len(countries))

Number of unique cities: 3448
Number of unique countries: 159

We'll look at the distribution of cities on a map:

In [32]:
#unique_city_data = city_data.groupby('City').first()

mpis = [{'lat': ['34.56S'],
  'lon': ['138.16'],
  'marker': {'color': 'rgb(0,116,217)',
   'line': {'color': 'rgb(40,40,40)', 'width': 0.5},
   'size': 38.700000000000003,
   'sizemode': 'diameter'},
  'text': '0.387',
  'type': 'scattergeo'},
]


layout = go.Layout(
    title = 'MPI',
    showlegend = True,
    geo = dict(
            scope='world',
            projection=dict( type = 'natural earth'),
            showland = True,
            landcolor = 'rgb(217, 217, 217)',
            subunitwidth=1,
            countrywidth=1,
            subunitcolor="rgb(255, 255, 255)",
            countrycolor="rgb(255, 255, 255)"
        ),)

fig =  go.Figure(layout=layout, data=mpis)
iplot( fig, validate=False)